<h2>Who bought <%= @product.title %></h2>
<% @product.orders.each do |order| %>
  <h3>Order #<%= order.id %></h3>
  <p>Name: <%= order.name %>, email: <%= order.email %><br/>
  Paid by: <%= order.pay_type%></p>
  <table>
    <% order.line_items.each do |line_item| %>
    <tr>
      <td><%= line_item.quantity %> x</td>
      <td><%= line_item.product.title %></td>
      <td><%= line_item.total_price %></td>
    </tr>
    <% end %>
  </table>
<% end %>
